table td {
	width: 25px;
	height: 25px;
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
}
.black{
	background-color: rgb(255, 237, 154);
}
.white{
	background-color: rgb(233, 255, 253);
}
.coordinate {
	width: 10px;
	height: 10px;
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
}